body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form{    
    width: 40%;
    margin-left : 25%;
    border: 1px solid #bbbb;
    padding: 20px;
}
#mytable{
  width: 70%;
  margin-left: 15%;
}

#txt{
  padding-bottom: 20px;
  text-align: center;
}
#log{
  display: inline;
  margin-left: 20rem;
  color: white;
  background-color: rgb(143, 143, 84);
}